<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Search</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>

body{
    background-image: url("https://i.pinimg.com/originals/ce/54/45/ce5445fdfa0adc66ff02da67a9fbae48.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.btn{
    outline: none;
    Border: 2px solid rgb(196, 17, 53);
    border-bottom: 4px solid rgb(196, 17, 53);
    width: 100px;
    height: 40px;
    background-color: crimson;
    cursor: pointer;
    color: white;
    transition: all .5s;
}
.btn:hover{
    Border: 2px solid rgb(211, 211, 211);
    border-bottom: 4px solid rgb(211, 211, 211);  
    background-color:rgb(255, 255, 255);
    color: black;
}

.container{ 
    background: transparent;
    opacity: 0.8;
    color: #424543;
}


    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header"><img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="Pokemon Logo">
                
                <h3>Encontre um pokemon pelo nome</h3>
                <p>Tente: Pikachu ou Articuno</p>           
            </div>
    
            <div class="card-body">
                <form action="/buscarPokemon" method="POST">
                    <div class="form-group">
                              <label for="pokemon">Pokemon</label>
                              <input class="form-control" type="text" name="pokemon" id="pokemon" required style="text-transform: lowercase">
                              <input type="submit" class="btn btn-primary mt-2" value="Buscar">
                      </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container mt-5 formulario">
        <div class="card">
            <div class="card-header"><img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="Pokemon Logo">
                
                <h3>Encontre um pokemon pelo número.</h3>
                <p>Tente: 6, 52, 144</p>           
            </div>
    
            <div class="card-body">
                <form action="/buscarType" method="POST">
                    <div class="form-group">
                              <label for="numero_pokemon">Número</label>
                              <input class="form-control" type="text" name="numero_pokemon" id="numero_pokemon" required placeholder="digite o número sem o 0">
                              <input type="submit" class="btn btn-primary mt-2" value="Buscar">
                      </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
